@{ Layout = null; }

<table class="responsive-table bordered centered">
    <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alimentação</td>
            <td>
                <span class="flow-text">
                    <a class="btn-floating waves-effect waves-light green" title="Editar" onclick="abrirCadastroCategoria()"><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light red" title="Excluir"><i class="material-icons">delete</i></a>
                </span>
            </td>
        </tr>
        <tr>
            <td>Lazer</td>
            <td>
                <span class="flow-text">
                    <a class="btn-floating waves-effect waves-light green" title="Editar" onclick="abrirCadastroCategoria()"><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light red" title="Excluir"><i class="material-icons">delete</i></a>
                </span>
            </td>
        </tr>
    </tbody>
</table>