<div class="container" id="divContentCategoria">
    <h4>
        Categorias
    </h4>
    <div class="row">
        <div class="col s1 offset-s10">
            <span class="flow-text">
                <a class="btn-floating btn-large waves-effect waves-light green" title="Novo" onclick="buscarCadastro()"><i class="material-icons">add</i></a>
            </span>
        </div>
    </div>
    <div id="divGridCategoria">

    </div>
</div>

<script>

    function buscarGrid() {
        $.get('@Url.Action("BuscarGrid", "Categoria")').done(function (data) {
            $("#divGridCategoria").html(data);
        });
    }

    buscarGrid();

</script>