<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-3">
                <a href="#" class="brand-logo">Controle Financeiro Pessoal</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="@Url.Action("Index", "Lancamento")">Lançamentos</a></li>
                    <li><a href="@Url.Action("Index", "Categoria")">Categorias</a></li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
</body>
</html>