@{ Layout = null; }
<table class="responsive-table bordered centered">
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>R$ Valor</th>
            <th>Pago/Recebido</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01/07/2017</td>
            <td>Salgados</td>
            <td>Alimentação</td>
            <td>100,00</td>
            <td>Sim</td>
            <td>
                <span class="flow-text">
                    <a class="btn-floating waves-effect waves-light green" title="Editar" onclick="abrirCadastroLancamento()"><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light red" title="Excluir"><i class="material-icons">delete</i></a>
                </span>
            </td>
        </tr>
        <tr>
            <td>01/07/2017</td>
            <td>Salgados</td>
            <td>Alimentação</td>
            <td>100,00</td>
            <td>Sim</td>
            <td>
                <span class="flow-text">
                    <a class="btn-floating waves-effect waves-light green" title="Editar" onclick="abrirCadastroLancamento()"><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light red" title="Excluir"><i class="material-icons">delete</i></a>
                </span>
            </td>
        </tr>
        <tr>
            <td>01/07/2017</td>
            <td>Salgados</td>
            <td>Alimentação</td>
            <td>100,00</td>
            <td>Sim</td>
            <td>
                <span class="flow-text">
                    <a class="btn-floating waves-effect waves-light green" title="Editar" onclick="abrirCadastroLancamento()"><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating waves-effect waves-light red" title="Excluir"><i class="material-icons">delete</i></a>
                </span>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="center" colspan="2">Receita</th>
            <th class="center" colspan="2">Despesa</th>
            <th class="center" colspan="2">Saldo</th>
        </tr>
        <tr>
            <th class="center">Prevista</th>
            <th class="center">Realizada</th>
            <th class="center">Prevista</th>
            <th class="center">Realizada</th>
            <th class="center">Prevista</th>
            <th class="center">Realizada</th>
        </tr>
        <tr>
            <td class="center">300,00</td>
            <td class="center">100,00</td>
            <td class="center">200,00</td>
            <td class="center">200,00</td>
            <td class="center">100,00</td>
            <td class="center">200,00</td>
        </tr>
    </tfoot>
</table>